.profile {
  width: 100%;
  height: 70px;
  background-color: #eee;
}
.info {
  width: 100%;
  margin-top: -25px;
  display: flex;
  justify-content: space-between;

  .img {
    background-color: aliceblue;
    width: 60px;
    height: 60px;
    border-radius: 30px;
  }
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  .btn-modal {
    justify-content: center;
    width: 100%;
    margin-top: 5px;
  }
}
.btn-close {
  margin-left: 300px;
}
