<div class="header">
  <a routerLink="/singIn">
    <img src="../../../../../assets/images/logo-pequeño.png" class="logo" />
  </a>
  <h2 class="header-title">#ElDesafioEsContigo</h2>
</div>
<div class="container">
  <div class="card">
    <div>
      <img
        class="logo"
        src="../../../../../assets/images/logo-sofka-university.webp"
        alt="logo"
      />
      <p id="texto">
        Estamos construyendo la mejor experiencia de aprendizaje para ti,
        esperamos disfrutes de los cursos que encontrarás en el Campus de Sofka
        U.<a
          class="link"
          href="https://api.whatsapp.com/send?phone=573193331091"
        >
          Click aquí y chatea con nosotros a través de WhatsApp</a
        >
      </p>
    </div>
  </div>
  <div class="forms">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="title">
  En sofka u potenciamos <span class="future">TU FUTURO</span>
</div>
