.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.logo {
  width: 50%;
}

#texto {
  font-size: 30px;
  padding: 40px;
}

.forms {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-self: center;
}

.title {
  text-align: center;
  font-size: 40px;
  margin-top: -60px;
  font-weight: 500;
  color: #d57e43;
}


