<div class="container">
  <div class="card">
    <div>
      <img
        class="logo"
        src="../../../../../assets/images/logo-sofka-university.webp"
        alt="logo"
      />
      <p id="texto">
        Estamos construyendo la mejor experiencia de aprendizaje para ti,
        esperamos disfrutes de los cursos que encontrarás en el Campus de Sofka
        U. Click aquí y chatea con nosotros a través de WhatsApp
      </p>
    </div>
  </div>
  <div class="forms">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="title">#ElDesafioEsContigo</div>
