.input-text {
  width: 100%;
  font-size: 20px;
  height: 60px;
}
mat-form-field {
  width: 100%;
}
.title {
  text-align: center;
}
.reply {
  overflow-y: scroll;
  height: 300px;
  background-color: white;
  .card-reply {
    width: 100%;
    height: 350px;
    -webkit-box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
    -moz-box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
    box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
    border-radius: 20px;
  }
}
mat-list-item {
  margin-top: 15px;
}
mat-card {
  height: 250px;
  transform-style: preserve-3d;
}
.card {
  -webkit-box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
  -moz-box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
  box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
}
.btn-reply {
  background-color: #2c3587;
  color: white;
}
.btn-next {
  background-color: #ededed;
  color: black;
}
