<form class="form-login" (ngSubmit)="singIn()" [formGroup]="frmLogin">
  <h2>Iniciar sesión</h2>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Correo electronico</mat-label>
      <input #email matInput formControlName="email" required />
      <mat-error *ngIf="fieldValidator('email')">{{
        'Ingresa un email valido!'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        #password
        formControlName="password"
        required
        matInput
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="fieldValidator('password')">{{
        'Ingresa tu contraseña'
      }}</mat-error>
    </mat-form-field>
    <button mat-raised-button class="button-log" color="primary">
      Ingresar
    </button>
    <hr />
    <div class="control">
      <a
        mat-raised-button
        class="button-session"
        type="button"
        color="warn"
        routerLink="/singup"
      >
        Crear cuenta
      </a>
    </div>
    <div class="control">
      <a class="recovery" routerLink="/password">¿Olvidaste tu contraseña?</a>
    </div>
  </div>
</form>
