<div class="menu">
  <div class="sofka">
    <img src="../../../../../assets/images/logo-pequeño.png" class="logo" />
  </div>
  <div>
    <button
      mat-mini-fab
      color="primary"
      [class.mat-elevation-z0]="true"
      ngxTippy
      [tippyProps]="coursesProps"
      (click)="course()"
    >
      <mat-icon>school</mat-icon>
    </button>
  </div>

  <div>
    <button
      mat-mini-fab
      color="primary"
      [class.mat-elevation-z0]="true"
      ngxTippy
      [tippyProps]="chatProps"
    >
      <mat-icon>chat</mat-icon>
    </button>
  </div>

  <div>
    <button
      mat-mini-fab
      color="primary"
      [class.mat-elevation-z0]="true"
      ngxTippy
      [tippyProps]="calendarProps"
      (click)="openCalendar()"
    >
      <mat-icon>calendar_month</mat-icon>
    </button>
  </div>

  <div>
    <button
      mat-mini-fab
      color="primary"
      [class.mat-elevation-z0]="true"
      ngxTippy
      [tippyProps]="notificationsProps"
    >
      <mat-icon>notifications</mat-icon>
    </button>
  </div>
</div>
