<form class="form-password">
    <div class="inputs">
        <h2>Recuperar Contraseña</h2>
        <form [formGroup]="recoveryUser" (ngSubmit)="recovery()">
            <div class="inputs">
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" required />
                    <mat-error *ngIf="fieldValidator('password')">{{ 'Tu contraseña debe tener 8 caracteres y una mayuscula' }}
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="inputs">
                <mat-form-field appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput formControlName="password" required />
                    <mat-error *ngIf="fieldValidator('password')">{{ 'Tu contraseña debe tener 8 caracteres y una mayuscula' }}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <br>
        <div class="body-button">
            <button class="recovery" mat-raised-button color="primary" [disabled]="recoveryUser.invalid">Recuperar</button>
            <br>
            <br>
            <button class="return" mat-raised-button color="warn" routerLink="/login">Volver</button>
        </div>
    </div>
</form>