.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.principal {
    position: relative;
    background-image: url("../../../../../assets/images/prueba.jpg");
    background-size: cover;
    top: 150px;
    left: 300px;
}

.absoluto {
    position: absolute;
}

.primero {
    background-color: aquamarine;
    top: 75px;
    left: -10px;
}

.segundo {
    background-color: aquamarine;
    top: 90px;
    left: 38px;
}

.tercero {
    background-color: aquamarine;
    top: 70px;
    left: 83px;
}


/* Nuevas clases */

.x-y-center {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
}

.g {
    font-size: 55px !important;
    width: 100px;
    height: 100px;
    border-radius: 50% !important;
    transition: all .2s ease-in-out;
    margin: 25px 0px 25px 0px;
}

.d {
    font-size: 25px !important;
    transition: all .2s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    margin: 25px 0px 5px 0px;
}

.g:hover,
.d:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 5px #888888;
}