.row {
  display: flex;
  background-color: aqua;
  width: 100%;
}
.row-2 {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: white;
  margin-top: 200px;
}
.tamaño {
  width: 50%;
}
