.logo {
  height: 50px;
}

.spacer {
  width: 100%;
}

.profile {
  border-radius: 50%;
  padding: 0px;
  border-width: 0px;
  cursor: pointer;

  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
