.spacer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
        width: 40%;
        h1 {
            font-weight: bold;
            font-size: 25px;
        }
    }
    .searcher {
        width: 60%;
    }
    .prueba {
        width: 70%;
        text-align: center;
        border-radius: 25px;
        height: 30px;
        border: 1px solid gainsboro;
    }
}

.profile {
    border-radius: 50%;
    padding: 0px;
    border-width: 0px;
    cursor: pointer;
    img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

#header {
    margin: auto;
    width: 500px;
    font-family: Arial, Helvetica, sans-serif;
}

ul,
ol {
    list-style: none;
}

.nav>li {
    float: left;
}

.menu {
    background-color: #222e9bb6;
    color: #fff;
    text-decoration: none;
    padding: 5px 6px;
    display: block;
}

.nav li a:hover {
    background-color: #434343b5;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover>ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0px;
}