<mat-toolbar color="">
    <div class="spacer">
        <div class="title">
            <h1>{{ name }}</h1>
        </div>
        <div class="searcher">
            <input placeholder="Buscador de cursos" class="prueba" />
        </div>
    </div>
    <button type="button" class="profile" matRipple>
    <img src="./assets/images/usuario.webp" alt="Usuario" />
  </button>
    <ul class="nav">
        <li>
            <a href="">Nombre User</a>
            <ul>
                <li><a href="">Submenu1</a></li>
                <li><a href="">Submenu2</a></li>
                <li><a href="">Submenu3</a></li>
                <li><a href="">Salir</a></li>
            </ul>
        </li>
    </ul>
</mat-toolbar>


<div class="navegacion">
    <nav>
        <ul>
            <li><a href="#">Inicio <span class="icon icon-up-dir"></span></a></li>
            <li><a href="#">Nosotros <span class="icon icon-up-dir"></span></a></li>
            <li>
                <a href="#">Servicios <span class="icon icon-up-dir"></span></a>
                <div class="submenu">
                    <div class="submenu-items">
                        <p>Submenu #1</p>
                        <ul>
                            <li><a href="#">Item #1</a></li>
                            <li><a href="#">Item #2</a></li>
                            <li><a href="#">Item #3</a></li>
                        </ul>
                    </div>
                    <div class="submenu-items">
                        <p>Submenu #2</p>
                        <ul>
                            <li><a href="#">Item #1</a></li>
                            <li><a href="#">Item #2</a></li>
                            <li><a href="#">Item #3</a></li>
                        </ul>
                    </div>
                    <div class="submenu-items">
                        <p>Submenu #3</p>
                        <ul>
                            <li><a href="#">Item #1</a></li>
                            <li><a href="#">Item #2</a></li>
                            <li><a href="#">Item #3</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="#">Contacto <span class="icon icon-up-dir"></span></a></li>
        </ul>
    </nav>
</div>