.spacer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .title {
    width: 40%;
    h1 {
      font-weight: bold;
      font-size: 25px;
    }
  }
  .searcher {
    width: 60%;
  }
  .prueba {
    width: 70%;
    text-align: center;
    border-radius: 25px;
    height: 30px;
    border: 1px solid gainsboro;
  }
}

.profile {
  border-radius: 50%;
  padding: 0px;
  border-width: 0px;
  cursor: pointer;

  img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
  }
}
