.content {
    padding: 16px;
}

.content>mat-card {
    width: 390px;
}

mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px;
}

.content>mat-card {
    margin-bottom: 16px;
}

.column-label {
    margin-right: 8px;
    font-size: 1rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

div:hover {
    border: 1px solid rgba(255, 255, 255, 0);
    ;
}