<div class="info">
  <div class="dake-picker">
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar (selectedChange)="captureDate($event)"></mat-calendar>
    </mat-card>
  </div>

  <mat-card class="card" *ngIf="status">
    <div class="list-task">
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let date of calendar">
          <div>
            <p class="title">
              Titulo : <span class="subtitle">{{ date.title }}</span
              ><br />
              url :
              <span class="subtitle">{{ date.url }}</span>
            </p>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>