<div class="info">
  <div class="dake-picker">
    <mat-card class="demo-inline-calendar-card">
      <mat-label>Consulta tus actividades</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi" type="date" />
    </mat-card>
  </div>

  <mat-card class="card">
    <div class="list-task">
      <mat-list role="list">
        <mat-list-item role="listitem"
          >Lorem ipsum dolor sit amet consectetur, adipisicing elit
        </mat-list-item>
        <hr />
        <mat-list-item role="listitem"
          >Lorem ipsum dolor sit amet consectetur adipisicing elitat
        </mat-list-item>
        <hr />
        <mat-list-item role="listitem"
          >Lorem ipsum dolor sit amet, consectetur adipisicing
          elit</mat-list-item
        >
        <hr />
        <mat-list-item role="listitem"
          >Lorem ipsum dolor sit amet, consectetur adipisicing
          elit</mat-list-item
        >
        <hr />
        <mat-list-item role="listitem"
          >Lorem ipsum dolor sit amet, consectetur adipisicing
          elit</mat-list-item
        >
        <hr />
      </mat-list>
    </div>
  </mat-card>
</div>
