<form class="form-password">
    <div class="inputs">
        <h1>Recuperar</h1>
        <form [formGroup]="recoveryUser" (ngSubmit)="recovery()">
            <div class="inputs">
                <mat-form-field appearance="fill">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput formControlName="email" required />
                    <mat-error>{{ 'Ingresa tu nombre completo' }}
                    </mat-error>
                </mat-form-field>
            </div>

        </form>

        <button mat-raised-button color="primary" [disabled]="recoveryUser.invalid">Recuperar</button>
        <br>
        <br>
        <button mat-raised-button color="primary" routerLink="/login">Volver</button>

    </div>
</form>