<form class="form-password">
    <div class="inputs">
        <h1>Recuperar Contraseña</h1>
        <form [formGroup]="recoveryUser" (ngSubmit)="recovery()">
            <div class="inputs">
                <mat-form-field appearance="fill">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput formControlName="email" required />
                    <mat-error>{{ 'Ingresa tu nombre completo' }}
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <br>

        <div class="body-button">
            <button class="recovery" mat-raised-button color="primary" [disabled]="recoveryUser.invalid">Recuperar</button>
            <br>
            <br>
            <button class="return" mat-raised-button color="warn" routerLink="/login">Volver</button>
        </div>
    </div>
</form>