<form class="form-password">
  <div class="inputs">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="recoveryUser" (ngSubmit)="recovery()">
      <div class="inputs">
        <mat-form-field appearance="fill">
          <mat-label>Correo electronico</mat-label>
          <input matInput formControlName="email" required />
          <mat-error>{{ 'Ingresa un email valido' }} </mat-error>
        </mat-form-field>
      </div>
      <br />
      <div class="body-button">
        <button
          class="recovery"
          mat-raised-button
          color="primary"
          [disabled]="recoveryUser.invalid"
        >
          Recuperar
        </button>
        <br />
        <br />
        <button
          class="return"
          mat-raised-button
          color="warn"
          routerLink="/login"
        >
          Volver
        </button>
      </div>
    </form>
  </div>
</form>
