.form-password {
    width: 400px;
    height: 300px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.862);
    -webkit-box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
    -moz-box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
    box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
    border-radius: 20px;
}

.mat-form-field.mat-form-field {
    font-size: 16px;
    width: 320px;
}

.inputs {
    margin-top: 5px;
}