.first-container {
  display: flex;
  flex-direction: row;
  height: 100vh;

  div:first-child {
    width: 180px;
    z-index: 2;
    background-color: #2c3587;
  }

  div:last-child {
    width: calc(100% - (16px * 2));
    z-index: 1;
  }
}

.second-container {
  background-color: var(--background-color-light);
  div {
    margin: 16px;
    height: calc(100vh - (64px + (16px * 2) + 2px));
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    background-color: var(--background-color-light-focus);
  }
}
