<div class="menu">
  <div>
    <a mat-mini-fab color="primary" [class.mat-elevation-z0]="true">
      <mat-icon>school</mat-icon>
    </a>
  </div>

  <div>
    <button mat-mini-fab color="primary" [class.mat-elevation-z0]="true">
      <mat-icon>chat</mat-icon>
    </button>
  </div>

  <div>
    <a mat-mini-fab color="primary" [class.mat-elevation-z0]="true">
      <mat-icon>calendar_month</mat-icon>
    </a>
  </div>

  <div>
    <button mat-mini-fab color="primary" [class.mat-elevation-z0]="true">
      <mat-icon>notifications</mat-icon>
    </button>
  </div>
</div>
