@import './app/templates/main2022/theme.scss';
html,
body {
    height: 100%;
    --background-color-light: #ededed;
    --background-color-light-focus: #ffffff;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}