@import './app/templates/main2022/theme.scss';

html,
body {
  height: 100%;
  --background-color-light: #ededed;
  --background-color-light-focus: #f0f2f5;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
