<form
  class="form-register"
  [formGroup]="singUp"
  (ngSubmit)="
    singUp.valid
      ? registerAcoount(
          name.value,
          email.value,
          password.value,
          passwordConfirm.value
        )
      : false
  "
  autocomplete="off"
>
  <h2>Registrate</h2>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Nombre completo</mat-label>
      <input matInput formControlName="name" required #name />
      <mat-error *ngIf="fieldValidator('name')">{{
        'Ingresa tu nombre completo'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Correo electronico</mat-label>
      <input matInput formControlName="email" required #email />
      <mat-error *ngIf="fieldValidator('email')">{{
        'Ingresa un correo valido'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        #password
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        maxlength="8"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      <mat-error *ngIf="fieldValidator('password')">{{
        'error minimo 8 caracteres y una mayuscula'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Repite tu contraseña</mat-label>
      <input
        matInput
        #passwordConfirm
        formControlName="passwordConfirm"
        [type]="hide2 ? 'password' : 'text'"
        maxlength="8"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide2 = !hide2"
        [attr.aria-label]="'Hide confirm'"
        [attr.aria-pressed]="hide2"
      >
        <mat-icon>{{ hide2 ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="fieldValidator('passwordConfirm')">{{
        'Tu contraseña debe tener 8 caracteres'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="inputs">
    <h2>Aqui el validador</h2>
  </div>

  <div class="inputs">
    <button
      class="btn-registro"
      mat-raised-button
      color="primary"
      [disabled]="singUp.invalid"
    >
      Crear Cuenta
    </button>
  </div>
  <hr />
  <div class="retrieve">
    <a class="password" routerLink="/password">¿Olvidaste tu contraseña?</a>
  </div>
</form>
