<form
  class="form-register"
  [formGroup]="formsingUp"
  (ngSubmit)="formsingUp.invalid ? false : registerAcoount()"
  autocomplete="off"
>
  <h2>Registrate</h2>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Nombre completo</mat-label>
      <input matInput formControlName="name" required #name />
      <mat-error *ngIf="formsingUp.get('name')?.hasError('required')">{{
        'Ingresa tu nombre completo'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Correo electronico</mat-label>
      <input matInput formControlName="email" required #email />
      <mat-error *ngIf="formsingUp.get('email')?.hasError('required')">{{
        'Ingresa un correo '
      }}</mat-error>
      <mat-error *ngIf="formsingUp.get('email')?.hasError('email')">{{
        'Ingresa un correo valido'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input
        matInput
        #password
        formControlName="password"
        [type]="hide ? 'password' : 'text'"
        maxlength="8"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      <mat-error *ngIf="formsingUp.get('password')?.hasError('minLength')">{{
        ''
      }}</mat-error>
      <mat-error *ngIf="formsingUp.get('password')?.hasError('pattern')">{{
        'La contraseña debe contener una mayuscula'
      }}</mat-error>
      <mat-error *ngIf="formsingUp.get('password')?.hasError('minLength')">{{
        ''
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Repite contraseña</mat-label>
      <input
        matInput
        #confirmPassword
        [errorStateMatcher]="matcher"
        formControlName="confirmPassword"
        [type]="hide ? 'password' : 'text'"
        maxlength="8"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>

      <mat-error *ngIf="formsingUp.hasError('notSame')">{{
        'Invalido'
      }}</mat-error>
    </mat-form-field>
  </div>

  <div class="inputs">
    <section class="example-section">
      <mat-checkbox class="example-margin" formControlName="checked"
        >Acepta el tratamiento de datos</mat-checkbox
      >
    </section>
    <mat-error *ngIf="formsingUp.get('checked')?.hasError('required')">{{
      ''
    }}</mat-error>
  </div>

  <div class="inputs">
    <button
      type="submit"
      class="btn-registro"
      mat-raised-button
      color="primary"
    >
      Crear Cuenta
    </button>
  </div>
  <hr />
  <div class="retrieve">
    <a class="password" routerLink="/password">¿Olvidaste tu contraseña?</a>
  </div>
</form>
