<form class="form-register" [formGroup]="singIng">
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Nombre completo</mat-label>
      <input matInput formControlName="name" required />
      <mat-error *ngIf="fieldValidator('name')">{{
        'Ingresa tu nombre completo'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Correo electronico</mat-label>
      <input matInput formControlName="email" required />
      <mat-error *ngIf="fieldValidator('name')">{{
        'Ingresa tu nombre completo'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" required />
      <mat-error *ngIf="fieldValidator('password')">{{
        'Tu contraseña debe tener 8 caracteres y una mayuscula'
      }}</mat-error>
    </mat-form-field>
  </div>
  <div class="inputs">
    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</form>
