.form-register {
  width: 350px;
  height: 620px;
  padding: 30px;
  background-color: white;
  -webkit-box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
  -moz-box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
  box-shadow: 10px -5px 55px -12px rgba(171, 171, 171, 1);
  border-radius: 20px;
}
.inputs {
  margin-top: 5px;
}
mat-form-field.mat-form-field {
  font-size: 16px;
  width: 100%;
}

.btn-registro {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  background-color: #d57e43;
}
.retrieve {
  text-align: center;
  color: #0000;
  font-size: 18px;
  text-decoration: none;
}
.retrieve:hover {
  a {
    color: #2c3587;
    cursor: pointer;
    text-decoration: none;
  }
}
